:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(0, 0, 0);
    --entry: rgb(139, 69, 19);
    --primary: rgb(205, 133, 63);
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(139, 69, 19);
    --content: rgb(255, 255, 255);
    --code-block-bg: rgb(0, 0, 0);
    --code-bg: rgb(0, 0, 0);
    --border: rgb(139, 69, 19);
    --fur-gradient: linear-gradient(45deg, #CD853F, #FFFFFF, #000000);
    --skin-color: #F5DEB3;
}
