{{- if eq .RelPermalink "/tracks/" }}
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" as="style" integrity="sha384-c6Rcwz4e4CITMbu/NBmnNS8yN2sC3cUElMEMfP3vqqKFp7GOYaaBBCqmaWBjmkjb" crossorigin="anonymous">
{{- end }}
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('{{ "sw.js" | relURL }}', { scope: '{{ "/" | relURL }}' }).catch(function (err) {
                console.warn('Service Worker registration failed:', err);
            });
        });
    }
</script>
