:root {
  --primary: rgb(205, 133, 63); /* peru, reddish-brown */
  --secondary: rgb(255, 255, 255); /* white */
  --theme: rgb(0, 0, 0); /* black */
  --entry: rgb(139, 69, 19); /* saddle brown */
  --tertiary: rgb(139, 69, 19);
  --content: rgb(255, 255, 255);
  --code-block-bg: rgb(0, 0, 0);
  --code-bg: rgb(0, 0, 0);
  --border: rgb(139, 69, 19);
}

.profile img {
  border-radius: 0;
}
